name: Docker Deploy

on:
  workflow_dispatch:

jobs:
  Deploy:
    runs-on: self-hosted

    steps:
      - name: Login to Dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PAT }}
    
      - name: 