name: Docker Deploy

on:
  workflow_dispatch:

jobs:
  Deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Docker Metadata (tags + labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ vars.DOCKER_USERNAME }}/nginx-gh-actions
          tags: |
            type=raw,value=latest
            type=sha
        
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      
      - name: Verify Pushed Image
        run: |
          echo "Listing latest images from Docker Hub:"
          curl -s https://hub.docker.com/v2/repositories/${{ vars.DOCKER_USERNAME }}/nginx-gh-actions/tags/ | jq .