# name: runner-demo
# on:
#   workflow_dispatch:

# jobs:
#   build:
#     runs-on: self-hosted

#     steps:
#       - name: demo
#         run: echo "Running on runner"

name: runner-demo
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Create s3 bucket
        run: aws s3 mb s3://hex-github-actions-bucket

      - name: Upload files to s3
        run: aws s3 cp upload/ s3://hex-github-actions-bucket/ --recursive
        

